@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary text-primary;
  }
}

html {
  scroll-padding: 10rem;
}

.swiper-button-prev,
.swiper-button-next {
  color: black !important; /* Change arrow color to black */
  
}

.swiper-button-prev:after, .swiper-button-next:after {
  font-size: 1rem !important;
}

.cart {
  overflow-y: scroll;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}